/.sconsign.dblite
/.idea/modules.xml
/.idea/vcs.xml
/site_scons/
/nxp-programmer/nxpprog/
/_build_lpc40xx_freertos/
/.DS_Store
/projects/.DS_Store
/projects/lpc40xx_freertos/.DS_Store
/projects/lpc40xx_freertos/l1_freertos/.DS_Store
/projects/lpc40xx_freertos/l2_utils/.DS_Store
/projects/lpc40xx_freertos/l3_drivers/.DS_Store
/projects/lpc40xx_freertos/l4_io/.DS_Store
/projects/lpc40xx_freertos/l5_application/.DS_Store
.idea/tom_and_jerry.iml
.idea/workspace.xml
